<!doctype html>
<html>
<head>
  <title>AboutMe</title>
  <link rel="stylesheet" href="css\style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
  <div id="peopleApp">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="AboutMe.html">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="table.html">Books</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h2 v-for="user in users">Meet {{user.name.first}}</h2>
    <div class="card"  style="width: 18rem;">
      <div v-for="user in users" class="card-header">
        <a v-bind:href="user.picture.large" target="_blank"><img v-bind:src="user.picture.large" class="card-img-top" title="https://randomuser.me" alt="ProfilePicture"></a>
      </div>
      <div class="card-body">
        <p class="card-text">Source: Random user retrieved from<a href="https://randomuser.me">https://randomuser.me</a></p>
      </div>
      <ul v-for="user in users" class="list-group list-group-flush">
        <li class="list-group-item">Name: {{user.name.first}}  {{user.name.last}}</li>
        <li class="list-group-item">Country: {{user.nat}}</li>
        <li class="list-group-item">Birthdate: {{user.dob.date}}</li>
        <li class="list-group-item">Age: {{user.dob.age}}</li>
        <li class="list-group-item">Email: <a class="link" v-bind:href="'mailto:'+ user.email">{{user.email}}</a></li>
      </ul>
    </div>
</div>
<div class="footer">
  Thank you for visiting my website
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js\AboutMe.js"></script>
</body>
</html>
